h1{padding-top:75px;padding-bottom:50px;color:#fff !important;font-weight:700 !important;font-size:3em !important}
[class*="col-"]{margin-bottom:25px}
.A-height1{-webkit-transition:1s;-moz-transition:1s;transition:1s}
.A-content{width:100%;position:absolute;z-index:20;background-color:#000;min-height:100%;top: -23px;left:0;background-size:contain;padding-bottom:100px}
.A-content p{margin:0 !important}
.A-background{background:#b3b3b3;width:100%;height:300px;position:absolute}
.A-box{background:#fff;padding:25px}
.A-video{padding: 30px 20px 10px 0px; font-size: 16px; text-align: justify; transition: 1s;}
.A-info{background:#bb0a30;color:#fff;font-weight:700;padding:20px}
.A-row{padding:10px 0 10px 0;border-bottom:solid 1px #f3f3f3}
.A-points-l{padding:20px 20px 10px 20px;text-align:center}
.A-points-r{padding:30px 20px 10px 20px;font-size:17px}
.A-contact{background:url(https://www.autohoogenboom.nl/content/files/Images/Auto_Hoogenboom/Headers/Audi/Header_1920x640_merkoverzicht_Audi_5_1.png);background-position:61%;width:100%;height:400px;display:flex;align-items:center;justify-content:flex-end}
.A-contact-button{background:white;padding:25px;font-weight:700;cursor:pointer;}
.A-contact-button-top{background:white;padding:25px;font-weight:700;cursor:pointer;float: left; margin-top: 65px !important; margin-left: 15px !important;}
.A-handtekening {transition: 1s; float: right; margin: -30px 15px -30px -30px; max-width: 200px !important;}
.social-facebook {float: right; margin-right: 15px; width: 30px;}
.social-instagram {float: right; margin-right: 15px; width: 30px;}
.social-linkedin {float: right; margin-right: 15px; width: 30px;}
body {overflow: scroll !important;}
body::-webkit-scrollbar-track {background-color: #202020 !important;}
body::-webkit-scrollbar {width: 10px !important; background-color: #ffffff !important;}
body::-webkit-scrollbar-thumb {background-color: #ffffff !important;}
