h1{padding-top:50px;padding-bottom:50px;color:#fff;font-weight:700;font-size:3em}
p{margin:0}
[class*="col-"]{margin-bottom:25px}
.A-height1{-webkit-transition:1s;-moz-transition:1s;transition:1s}
.A-content{width:100%;position:absolute;z-index:20;background-color:#000;min-height:100%;top:0;left:0;background-size:contain;padding-bottom:100px}
.A-background{background:#b3b3b3;width:100%;height:300px;position:absolute}
.A-box{background:#fff;padding:25px}
.A-info{background:#bb0a30;color:#fff;font-weight:700;padding:20px}
.A-row{padding:10px 0 10px 0;border-bottom:solid 1px #f3f3f3}
.A-points-l{padding:20px 20px 10px 20px;text-align:center}
.A-points-r{padding:30px 20px 10px 20px;font-size:17px}
.A-contact{background:url(https://www.autohoogenboom.nl/content-ahm/pages/156/header/Template_Banner_1920x640_1_Onderhoudsoverzicht_Audi.png);background-position:61%;width:100%;height:400px;display:flex;align-items:center;justify-content:center}
.A-contact-button{background:white;padding:25px;font-weight:700}
